body {
    background-color: #d0d0d0;
    padding: 1em;
    font-family: 'Gill Sans MT', Calibri, 'Trebucher MS', sans-serif;
}

#mainTitle {
    text-align: center;
}

div.main {
    border: 2em solid black;
    background-color: darkgrey;
}
#title {
    text-align: center;
    color: lightgreen;
}
h3 {
    color: blue;
}
p {
    color: red;
}
.truthLie {
    text-align: center;
    background-color: lightgrey;
    border: 2px solid grey;
    border-radius: 5px;
}
.align {
    display: flex;
    justify-content: space-evenly;
}