.image1 {
    border: 1mm;
    border-style: solid;
    border-top-right-radius: 5mm;
    border-bottom-right-radius: 10mm;
    border-top-left-radius: 10mm;
    border-bottom-left-radius: 5mm ;
    border-color: black;
    margin-left:400px;
    
    

}

.image2 {
    border: 1mm;
    border-style: solid;
    border-top-right-radius:10mm;
    border-bottom-right-radius: 5mm;
    border-top-left-radius: 5mm;
    border-bottom-left-radius: 10mm;
    border-color: black;
    margin-left:400px;
    
    

}